/* Esto es un comentario */

/* Selector Type */
header {
        background-color: #FFC100;
        height: 100px;
        border-style: solid;
        border-color:#E70F0F;
}

footer {
        background-color: #FFC100; 
        height: 100px; 
        text-align:center; 
        border-style: solid; 
        border-color:#E70F0F;
}

/* Selector Class */

/* Etiquetas */
.linksheader {
                background-color: #D26C00; 
                padding: 3px;
}

.pfooter {
            text-align: center;
            margin: 1em
}

/* Iconos */
.fa-facebook-square{
                        color: #475a95;
                        background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
                        background-size: 55%;
                        background-position: 70% 0;
                        background-repeat: no-repeat;
}

.fa-twitter-square {
                        color: #00acee;
                        background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
                        background-size: 70%;
                        background-position: 70% 0;
                        background-repeat: no-repeat;
}

.fa-instagram {
                background: #d6249f;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
                
}
.fa-pinterest-square {
                        color: red;
                        background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
                        background-size: 70%;
                        background-position: 70% 0;
                        background-repeat: no-repeat;
}
.fa-linkedin {
                color: blue;
                background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
                background-size: 70%;
                background-position: 50% -3px;
                background-repeat: no-repeat;
}
.fa-youtube {
                color: red;
                background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
                background-size: 70%;
                background-position: 50% -3px;
                background-repeat: no-repeat;
}