/* Esto es un comentario */
/* Por la especificidad se deben utilizar los IDs y Clases/Pseudoclases. Los del tipo !important deben ser limitados y excepcionales */

/* Selector Clase/Pseudoclase */

.header {
        /* header style */ 
        background-color: black;
        height: auto;
        
        /* header text */
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
}

.nav {
        margin-left: 0.5em;
        padding-top: 0.5em;
        display: flex;
}

.main {
        margin: 0.5em;
        /*padding: 1em 1em 1em 0em;*/
}

.footer {
        /* footer style */ 
        background-color: black;
        height: auto;
        border-style: solid;
        margin: 0.5em;
        padding: 0.5em;
        position: relative;
        bottom: 5%;
        
        /* footer text */
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
}

.linkindex {
        color: white;
        background-color: #838383; 
        padding: 0.5em;
        border-radius: 0.3em;
        text-decoration: none;
        position: relative right;
}

.linkreceta {
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.3em;
        color: white;
        background-color: #838383;
        text-decoration: none;
}

.linkfooter {
        text-decoration: none;
}

/* Iconos */

/* Nav  */

.fa-home, .fa-user, .fa-at, .fa-user-plus, .fa-map-marker-alt {
        color: white
        ;
}

/* Foooter */
.fa-facebook-square{
        color: #475a95;
        background-image: linear-gradient(to right, black, white, white, white, white, white, black);
        line-height: 0.87em;
        border-radius: 15%;
}
.fa-twitter-square {
        color: #00acee;
        background-image: linear-gradient(to right, black, white, white, white, white, white, black);
        line-height: 0.87em;
        border-radius: 15%;
}
.fa-instagram {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.fa-pinterest-square {
        color: red;
        background-image: linear-gradient(to right, black, white, white, white, white, white, black);
        line-height: 0.87em;
        border-radius: 15%;
}
.fa-linkedin {
        color: blue;
        background-image: linear-gradient(to right, black, white, white, white, white, white, black);
        line-height: 0.87em;
        border-radius: 15%;
}
.fa-youtube {
        color: red;
        background-image: linear-gradient(to right, black, black, white, white, white, black, black);
        line-height: 0.3em;        
}